* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
    width: 100%;
    scroll-behavior: smooth;
    font-family: Arial, sans-serif;
}

.slide {
    height: 100vh; /* Pełna wysokość ekranu */
    width: 100vw;  /* Pełna szerokość ekranu */
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #f4f4f4;
}

.slide img {
    max-width: 100%;
    max-height: 100%;
    object-fit: contain; /* Dopasowanie obrazu */
}

h1 {
    font-size: 3rem;
    color: #333;
    text-align: center;
}
